@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main {
  min-height: 100%;
  background-color: #f0f2f5;
  padding: 20px;
}

.app-container {
  padding: 20px;
}
.echarts {
  width: 100%;
  height: 100%;
}
.panel{
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 4px 4px 40px rgba(0,0,0,.05);
  box-shadow: 4px 4px 40px rgba(0,0,0,.05);
}

.p-t5{padding-top: 5px;}
.p-l5{padding-left: 5px;}
.p-t10{padding-top: 10px;}
.p-t15{padding-top: 15px;}
.p-t20{padding-top: 20px;}
.p-t25{padding-top: 25px;}
.p-t30{padding-top: 30px;}

.m-t5{ margin-top: 5px;}
.m-l5{ margin-left: 5px;}
.m-t10{margin-top: 10px;}
.m-l10{margin-left: 10px;}
.m-t15{margin-top: 15px;}
.m-t20{margin-top: 20px;}
.m-t25{margin-top: 25px;}
.m-t30{margin-top: 30px;}

.w-20 {width: 20% !important;}
.w-30 {width: 30% !important;}
.w-40 {width: 40% !important;}
.w-50 {width: 50% !important;}
.w-60 {width: 60% !important;}
.w-80 {width: 80% !important;}

.pull-right{
  float: right;
}
.pull-left{
  float: left;
}
.w100{
  width:100%
}
.h100{
  width:100%
}