.landing-page .btn-toolbar{
  margin-top: 65px;
}
.landing-page .btn-toolbar>*{
  z-index: 100;
}
.landing-page .nav-item{
  z-index: 100;
}
.landing-page .nav-item~.nav-item{
  padding-left: 10px;
}
.landing-page .left{
  position: relative;
}
.landing-page .img-container{
  width: 100%;
  height: 400px;
  padding-top: 15px;
}
@media (min-width: 768px){
  .landing-page .img-container{
    position: absolute;
    padding: 120px 15px 200px;
    left: 0;
    height: 100vh;
    top: 0;
  }
  .landing-page .bottom{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
  }
  .landing-page .line{
    height: 100vh;
    border-left:1px solid #EDEEF0;
  }
}

.landing-page .img-rounded{
  background-color: #F5F6FA;
  width: 100%;
  height: 100%;
}
.landing-page .bottom{
  bottom: 20px;
}


.landing-page h2{
  font-size: inherit;
  font-weight: bold;
}
.landing-page .right>h2{
  margin-top: 15px;
  height: 38px;
  line-height: 38px;
}

.landing-page .image-prediction{

}
.landing-page .prediction{
  text-align: center;
  float:left;
  padding:0 20px;
}
.landing-page .prediction>div{
  height: 30px;
  line-height: 30px;
}
.landing-page .prediction~.prediction{
  border-left:1px solid #EDEEF0;
}

.landing-page .btn-save{
  float: right;
  margin-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}
.landing-page .fill>img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}


.landing-page h1.text-center{
  color:white;
}

.landing-page div.center{
  height: 100%;
}
.landing-page div.center:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}



/*.landing-page .img-list-container .row>a:hover img{*/
/*border:1px #007BFF solid;*/
/*}*/
.cropImg{
  /*background: no-repeat center center;*/
  object-fit: contain;
}
.btn-toolbar .float-md-right{
  margin-left: auto;
}
.btn-toolbar .btn-group-toggle .active{
  background-color: #007bff!important;
}