.roi-image{
}

.roi-image .image-container{
    height: 80px;
    width: 80px;
}
.roi-image .popup-image img{
    width: 100%;
    margin: auto;
    display: block;
    object-fit: contain;
}
.roi-image table img{
    height: 80px;
    width: 80px;
    object-fit: contain;
}
.roi-image .tool-bar .el-select{
    margin-right: 10px;
    width: 100%;
}
.roi-image .tool-bar .el-input{
    margin-right: 10px;
}
.roi-image .tool-bar .el-button{
    margin-right: 10px;
}
.roi-image .tool-bar .el-date-editor{
    width: 100%;
}
.roi-image .tool-bar .el-col{
    margin-bottom: 5px;
}
