.list-page{
  margin-top: 65px !important;
}

.list-page table img{
   height: 50px;
}

.list-page .search-bar{

}

.list-page .filter-bar{
  width: 600px;
}
.list-page .operation>button{
  margin-left:5px;
}

.list-page .roi-detail{
   padding: 0 30px;
}