<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">
            [%d{ISO8601}] [%-5p] [${hostName}] --- [%15.15t] %-40.40c{1.} %-40.40C{1.} : %m%n%ex
        </Property>
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <RollingFile name="FileAppender" fileName="logs/log4j2-demo.log"
                     filePattern="logs/log4j2-demo-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.tend.acd" level="ALL" additivity="false">
            <AppenderRef ref="FileAppender" level="WARN" />
            <AppenderRef ref="ConsoleAppender" level="ALL"/>
        </Logger>
        <Logger name="LinkFuture DB API" level="ALL" additivity="false">
            <AppenderRef ref="FileAppender" level="WARN" />
            <AppenderRef ref="ConsoleAppender" level="ALL"/>
        </Logger>
        <Root level="WARN">
            <AppenderRef ref="FileAppender" />
        </Root>
    </Loggers>
</Configuration>